body{
  background:#7c0d0d;
   color:#ffffff;
	font-style: italic;
}

header{
  text-align:center;
  color:#2858de;
	font-style: italic;
  
}
article{
  text-align: center;

}


section{
  float:left;
  width:800px;
  margin: 20px;
  
  
}
aside{
  float:left;
  width: 500px;
  margin-left:70px;

}
footer{
  margin-inline-end: 1000px;
  margin-right: 1000px;
  margin-top:50px;
  margin-bottom:30px;
}