body{
  background:#7c0d0d;
   color:#ffffff;
	font-style: italic;
}

header{
  text-align:center;
  color:#2858de;
font-style: italic;
}

article{
  text-align: center;
  width:800px;
  margin: 20px;
}

section{

  text-align: center;
  width:800px;
  margin: 20px;
}

aside{
  float:right;
  width: 500px;
  margin-right:20px;
}

footer{
  margin-top:100px;
  margin-bottom:30px;
  margin-left:30px;
}
nav{
	color:#000000;
	text-align:center;
}